
/* ==== ==== All Common CSS Start ==== ==== */

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

a, a:hover {
    text-decoration: none;
    display: inline-block;
}

ul, ol {
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    line-height: 0.8;
}

.body {
    overflow: hidden;
}

a.item_link {
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #0a2230;
    padding: 13px 30px 15px 30px;
    background: #ffffff;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    box-shadow: 
    0 0 10px rgba(87, 236, 250, 0.11),
    0 0 15px rgba(87, 236, 250, 0.11),
    0 0 25px rgba(87, 236, 250, 0.11),
    0 0 30px rgba(87, 236, 250, 0.11),
    0 0 35px rgba(87, 236, 250, 0.11);
}

a.item_link:hover {
    color: #0a2230;
    background: #57ecfa;
}

button.item_btn {
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #0a2230;
    padding: 13px 30px 15px 30px;
    background: #ffffff;
    border: none;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    box-shadow: 
    0 0 10px rgba(87, 236, 250, 0.11),
    0 0 15px rgba(87, 236, 250, 0.11),
    0 0 25px rgba(87, 236, 250, 0.11),
    0 0 30px rgba(87, 236, 250, 0.11),
    0 0 35px rgba(87, 236, 250, 0.11);
}

button.item_btn:hover {
    color: #0a2230;
    background: #57ecfa;
    cursor: pointer;
}

button:focus {
    outline: none;
}

.ccl {
    height: 35px;
    width: 35px;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    text-align: center;
    line-height: 35px;
}

.item_top h3 {
    font-family: 'Georama', sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: #ffffff;
}

.item_top p {
    font-family: 'Arimo', sans-serif;;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    line-height: 26px;
    padding-top: 26px;
    padding-bottom: 36px;
}

/* ==== ==== All Common CSS End ==== ==== */

/* ==== ==== Header part Starts Here  ==== ==== */

.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    margin-left: 30px;
    line-height: 65px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    position: relative;
}

.navbar-nav .nav-link::after {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    content: '';
    height: 2px;
    width: 0;
    background: #00e9ff;
    opacity: 0;
    visibility: hidden;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.navbar-nav .nav-link:hover {
    color: #00e9ff;
    text-shadow: 
    0 0 10px rgba(87, 236, 250, 0.11),
    0 0 15px rgba(87, 236, 250, 0.11),
    0 0 20px rgba(87, 236, 250, 0.11),
    0 0 25px rgba(87, 236, 250, 0.11);
}

.navbar-nav .nav-link:hover::after {
    opacity: 1;
    visibility: visible;
    width: 60px;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999999;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.navbar .container {
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.ext_hd {
    margin: 0;
    background: #051016;
    animation: 1s menu_top;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    -webkit-animation: 1s menu_top;
}

@keyframes menu_top {
    from {
        top: -150px;
    }
    to {
        top: 0px;
    }
}

.cont_pd {
    padding-left: 0;
    padding-right: 0;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.med_btn_clk {
    background: #051016;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.navbar-toggler i {
    font-size: 23px;
    color: #fff;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    margin-bottom: 5px;
}

.navbar-toggler i:hover {
    color: #00e9ff;
}

/* ==== ==== Header part Ends Here  ==== ==== */

/* ==== ==== Banner part Starts Here  ==== ==== */

#banner {
    padding-top: 270px;
    padding-bottom: 208px;
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.ban_slider {
    direction: rtl;
}

.ban_text {
    padding: 25px;
}

.ban_text h3 {
    font-family: 'Georama', sans-serif;
    font-weight: 400;
    font-size: 141px;
    color: #fff;
    padding-bottom: 20px;
    text-shadow: 
    0 0 10px rgba(87, 236, 250, 0.11),
    0 0 15px rgba(87, 236, 250, 0.11),
    0 0 25px rgba(87, 236, 250, 0.11),
    0 0 30px rgba(87, 236, 250, 0.11),
    0 0 35px rgba(87, 236, 250, 0.11),
    0 0 40px rgba(87, 236, 250, 0.11),
    0 0 45px rgba(87, 236, 250, 0.11),
    0 0 60px rgba(87, 236, 250, 0.11);
}

.ban_text h4 {
    font-family: 'Georama', sans-serif;
    font-weight: 400;
    font-size: 100px;
    color: #fff;
    text-shadow: 
    0 0 10px rgba(87, 236, 250, 0.11),
    0 0 15px rgba(87, 236, 250, 0.11),
    0 0 25px rgba(87, 236, 250, 0.11),
    0 0 30px rgba(87, 236, 250, 0.11),
    0 0 35px rgba(87, 236, 250, 0.11),
    0 0 40px rgba(87, 236, 250, 0.11),
    0 0 45px rgba(87, 236, 250, 0.11),
    0 0 60px rgba(87, 236, 250, 0.11);
}

.ban_text p {
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    line-height: 26px;
    padding: 33px 2px 0 30px;
    position: relative;
    width: 545px;
    margin-right: auto;
}

.ban_text p::before {
    position: absolute;
    top: 39px;
    left: 7px;
    content: '';
    height: 34px;
    width: 3px;
    background: #fcffff;
    box-shadow: 
    0 0 10px rgba(87, 236, 250, 0.11),
    0 0 15px rgba(87, 236, 250, 0.11),
    0 0 25px rgba(87, 236, 250, 0.11),
    0 0 30px rgba(87, 236, 250, 0.11),
    0 0 35px rgba(87, 236, 250, 0.11),
    0 0 40px rgba(87, 236, 250, 0.11),
    0 0 45px rgba(87, 236, 250, 0.11),
    0 0 60px rgba(87, 236, 250, 0.11);
}

.ban_text p::after {
    position: absolute;
    top: 73px;
    left: 7px;
    content: '';
    height: 34px;
    width: 3px;
    background: #57edfb;
    box-shadow: 
    0 0 10px rgba(87, 236, 250, 0.11),
    0 0 15px rgba(87, 236, 250, 0.11),
    0 0 25px rgba(87, 236, 250, 0.11),
    0 0 30px rgba(87, 236, 250, 0.11),
    0 0 35px rgba(87, 236, 250, 0.11),
    0 0 40px rgba(87, 236, 250, 0.11),
    0 0 45px rgba(87, 236, 250, 0.11),
    0 0 60px rgba(87, 236, 250, 0.11);
}

/* ==== ==== Banner part Ends Here  ==== ==== */

/* ==== ==== Welcome part Starts Here  ==== ==== */

#welcome {
    padding-top: 55px;
    padding-bottom: 110px;
}

.welcome_lf {
    width: 100%;
    height: 100%;
    /* background: aqua; */
    position: relative;
}

.welcome_photo {
    position: absolute;
    top: -115px;
    left: -50px;
    height: 100%;
    width: 100%;
}

.welcome_text h3 {
    font-family: 'Georama', sans-serif;
    font-weight: 400;
    font-size: 31px;
    color: #0a2230;
}

.welcome_text img {
    padding-top: 15px;
    padding-bottom: 18px;
}

.welcome_text p {
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #444444;
    line-height: 24px;
    padding-bottom: 20px;
}

.welcome_text a {
    margin-top: 10px;
    color: #fff;
    background: #0a2230;
}

/* ==== ==== Welcome part Ends Here  ==== ==== */

/* ==== ==== Programme part Starts Here  ==== ==== */

#prog {
    padding-top: 100px;
    border-top: 1px solid #eeeeee;
    overflow: hidden;
}

.prog_text h3 {
    font-family: 'Georama', sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #0a2230;
    padding-bottom: 30px;
}

.prog_text p {
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #444444;
    line-height: 26px;
    padding-bottom: 27px;
    width: 400px;
}

.prog_text a {
    margin-top: 30px;
    color: #fff;
    background: #0a2230;
}

.prog_photo {
    width: 950px;
    padding-top: 310px;
    padding-bottom: 248px;
    background: #0a202c;
    margin-left: 100px;
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.prog_block {
    position: absolute;
    bottom: 0;
    left: -83px;
    height: 240px;
    width: 950px;
    background: #000;
}

.prog_block2 {
    position: absolute;
    top: 290px;
    left: 0;
    height: 136px;
    width: 950px;
    background: #dadada;
}

.prog_slide {
    position: absolute;
    top: 60px;
    left: -100px;
    height: 440px;
    width: 950px;
    /* background: aqua; */
}

.prog_slider {
    direction: rtl;
}

.prog_item_photo {
    position: relative;
}

.prog_item_photo img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.prog_olay {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    height: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.prog_social {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.prog_social i {
    font-size: 20px;
    color: #000;
    margin-right: 15px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.prog_social i:hover {
    color: #00e9ff;
    border: 1px solid #fff;
    background: #000;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.prog_item_text {
    background: #f6f6f6;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.prog_item_text p {
    font-family: 'Georama', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #444444;
    padding: 30px 0;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.prog_item:hover .prog_olay {
    opacity: 1;
    visibility: visible;
    height: 100%;
}

.prog_item:hover .prog_social {
    bottom: 40px;
}

.prog_item:hover .prog_item_text {
    background: #0a2230;
}

.prog_item:hover .prog_item_text p {
    color: #ffffff;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.prog_slider .slick-dots {	
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 10px;
    list-style-type: none;
    position: absolute;
    bottom: -70px;
    left: 163px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.prog_slider .slick-dots li {
    margin: 10px;
}

.prog_slider .slick-dots button {
    display: block;
    width: 25px;
    height: 4px;
    padding: 0;
    border: none;
    background-color: #144662;
    text-indent: -9999px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;

}

.prog_slider .slick-dots li.slick-active button {
    background-color: #00e9ff;
}

/* --------------- Prog_slider SM --------------- */

#prog_sld_sm {
    display: none;
}

/* ==== ==== Programme part Ends Here  ==== ==== */

/* ==== ==== Our_Events part Starts Here  ==== ==== */

#event {
    padding-top: 60px;
    padding-bottom: 60px;
    background-image: url(../images/event_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
}

.event_btn_top button {
    margin-right: 25px;
}

#event .sp_pd_top {
    padding-top: 55px;
}

.event_item {
    margin-bottom: 30px;
    position: relative;
}

.event_photo {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 2px solid #00e9ff;
    position: relative;
}

.event_photo img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.event_text {
    background: #f7f7f7;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.event_text p {
    font-family: 'Georama', sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: #444444;
    padding: 35px 0;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.event_olay {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 10%;
    opacity: 0;
    visibility: hidden;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 20px;
}

.event_olay i {
    font-size: 20px;
    color: #000;
    margin: 15px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.event_olay i:hover {
    color: #00e9ff;
    border: 1px solid #fff;
    background: #000;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.event_item:hover .event_olay {
    opacity: 1;
    visibility: visible;
    width: 25%;
}

.event_item:hover .event_text {
    background: #000;
}

.event_item:hover .event_text p {
    color: #00e9ff;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.event_btn_btm button {
    width: 201px;
    margin-top: 20px;
}

/* ==== ==== Our_Events part Ends Here  ==== ==== */

/* ==== ==== Form part Starts Here  ==== ==== */

#form {
    padding-top: 100px;
    padding-bottom: 100px;
}

.form_top h3 {
    font-family: 'Georama', sans-serif;
    font-weight: 400;
    font-size: 45px;
    color: #999999;
}

.form_top img {
    padding-top: 15px;
    padding-bottom: 32px;
}

.form_photo {
    height: 100%;
    background-image: url(../images/form_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.form_core .sp_pd_lf {
    padding-left: 10px;
}

.form_core .sp_pd_rt {
    padding-right: 10px;
}

.form_field {
    margin-bottom: 20px;
    position: relative;
}

.form_field input {
    width: 100%;
    height: 48px;
    border: 1px solid #dddddd;
    background: transparent;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
    padding-left: 20px;
    line-height: 48px;
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #081c32;
}

.form_field ::placeholder {
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #999999;
}

.err_sign {
    position: absolute;
    top: 13px;
    right: 13px;
    display: none;
}

.err_sign i {
    font-size: 20px;
    color: #df1d1d;
}

.err_msg {
    position: absolute;
    height: 30px;
    background: #feeeef;
    border: 1px solid #f59494;
    top: 57px;
    left: 10px;
    padding: 0 12px;
    z-index: 999;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    display: none;
}

.err_msg p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #9c324f;
    line-height: 30px;
}

.err_pointer {
    position: absolute;
    top: -5px;
    left: 22px;
    background: #feeeef;
    height: 8px;
    width: 8px;
    border-top: 1px solid #f59494;
    border-left: 1px solid #f59494;
    display: inline-block;
    z-index: 99;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.form_field textarea {
    width: 100%;
    height: 138px;
    border: 1px solid #dddddd;
    background: transparent;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 10px 20px;
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #081c32;
}

.form_field .sp_pos {
    top: 147px;
}

/* Build custom textarea for the items */
.form_field .check_box_area {
    position: absolute;
    top: 2px;
    left: 19%;
    display: block;
    cursor: pointer;
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #081c32;
}

/* Hide the browser's default checkbox */
.check_box_area input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    text-align: left;
}

/* Create a custom checkbox */
.form_core .check_box {
    position: absolute;
    top: 3px;
    left: -28px;
    height: 16px;
    width: 16px;
    background-color: #cbcbcb;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

/* Create a custom check-mark/indicator */
.check_box_area .check_box:after {
    left: 10px;
    top: -8px;
    width: 7px;
    height: 20px;
    border: solid #081c32;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* On mouse-over, add a background hover color */
.check_box_area:hover input ~ .check_box {
    background-color: #00e9ff;
}

/* When the checkbox is checked, add a blue background */
.check_box_area input:checked ~ .check_box {
    background-color: #00e9ff;
}
  
/* Create the check-mark/indicator (hidden when not checked) */
.check_box:after {
    content: "";
    position: absolute;
    display: none;
}
  
/* Show the check-mark when checked */
.check_box_area input:checked ~ .check_box:after {
    display: block;
}

.form_field .sp_ck_sign {
    top: 2px;
}

.form_field .sp_pos_ck_ermsg {
    top: 35px;
}

.form_field button {
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    width: 100%;
    border: none;
    background: #081c32;
    padding: 21px 0 19px 0;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    margin-top: 40px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    box-shadow: 
    0 0 10px rgba(87, 236, 250, 0.11),
    0 0 15px rgba(87, 236, 250, 0.11),
    0 0 25px rgba(87, 236, 250, 0.11),
    0 0 30px rgba(87, 236, 250, 0.11),
    0 0 35px rgba(87, 236, 250, 0.11);
}

.form_field button:hover {
    color: #0a2230;
    background: #57ecfa;
    cursor: pointer;
    
}

.form_field input:focus {
    border: 1px solid rgb(0, 234, 255);
    box-shadow: 
    0 0 10px rgba(87, 236, 250, 0.11),
    0 0 15px rgba(87, 236, 250, 0.11),
    0 0 25px rgba(87, 236, 250, 0.11);
}

.form_field textarea:focus {
    border: 1px solid #00e9ff;
    box-shadow: 
    0 0 10px rgba(87, 236, 250, 0.11),
    0 0 15px rgba(87, 236, 250, 0.11),
    0 0 25px rgba(87, 236, 250, 0.11);
}

/* ==== ==== Form part Ends Here  ==== ==== */

/* ==== ==== Our_Team part Starts Here  ==== ==== */

#team {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #0a2230;
}

#team .sp_mg_top {
    margin-top: 20px;
}

.team_item {
    position: relative;
}

.team_item img {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.team_olay {
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, transparent 60%, rgba(10,34,48,0.95) 75%);
    height: 100%;
    width: 100%;
}

.team_text {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.team_text h3 {
    font-family: 'Georama', sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: #ffffff;
}

.team_text p {
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
    line-height: 26px;
    padding-top: 10px;
    padding-bottom: 30px;
}

.team_social {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.team_social i {
    font-size: 20px;
    color: #000;
    margin-right: 15px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.team_social i:hover {
    color: #00e9ff;
    background: #000;
    border: 1px solid #fff;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.team_item:hover .team_social {
    opacity: 1;
    visibility: visible;
    padding: 30px 0;
}

/* ==== ==== Our_Team part Ends Here  ==== ==== */

/* ==== ==== Gallery part Starts Here  ==== ==== */

#gallery {
    padding-top: 100px;
    position: relative;
}

.gal_des_rt {
    position: absolute;
    top: 20px;
    right: 0;
}

.gal_des_lf {
    position: absolute;
    top: 635px;
    left: 0;
}

#gallery .item_top h3 {
    color: #0a2230;
}

#gallery .item_top p  {
    color: #444444;
}

#gallery .sp_mg_slide_rt {
    margin-right: 60px;
}

#gallery .sp_mg_top {
    margin-top: 40px;
    margin-bottom: 30px;
}

.gal_top_slider {
    direction: rtl;
}

.gal_item {
    position: relative;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.gal_item img {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.gal_olay {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    height: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.gal_link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.gal_link i {
    font-size: 20px;
    color: #000;
    margin-right: 15px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.gal_link i:hover {
    color: #00e9ff;
    background: #000;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.gal_item:hover {
    box-shadow: 
    0 0 10px rgba(87, 236, 250, 0.11),
    0 0 15px rgba(87, 236, 250, 0.11),
    0 0 25px rgba(87, 236, 250, 0.11),
    0 0 30px rgba(87, 236, 250, 0.11),
    0 0 35px rgba(87, 236, 250, 0.11);
}

.gal_item:hover .gal_olay {
    opacity: 1;
    visibility: visible;
    height: 100%;
}

#gallery .sp_mg_slide_lf {
    margin-left: 60px;
}

#gallery .sp_mg_map {
    margin-top: 175px;
}

.map_item {
    height: 100%;
    width: 100%;
    /* background: aqua; */
    position: relative;
}

.map_photo {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow:     
    0 0 10px rgba(0, 0, 0, 0.11),    
    0 0 15px rgba(0, 0, 0, 0.11),    
    0 0 25px rgba(0, 0, 0, 0.11),    
    0 0 30px rgba(0, 0, 0, 0.11),    
    0 0 35px rgba(0, 0, 0, 0.11);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    z-index: 999;
}

.map_photo img {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.map_text {
    padding-top: 25px;
    padding-bottom: 35px;
}

.add_item {
    margin-bottom: 45px;
    position: relative;
}

.add_item h3 {
    font-family: 'Georama', sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: #0a2230;
    padding-bottom: 20px;
}

.add_item p {
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    padding-left: 50px;
}

.add_icon {
    position: absolute;
    bottom: 7px;
    left: -90px;
    width: 120px;
    height: 50px;
    background: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 
    0 0 10px rgba(0, 0, 0, 0.11),
    0 0 15px rgba(0, 0, 0, 0.11);
    z-index: 99999;
}

.add_icon i {
    font-size: 25px;
    color: #0a2230;
    line-height: 50px;
    margin-right: 20px;
}

i.sp_fnt_loc {
    font-size: 30px;
}

i.sp_fnt_mail {
    font-size: 20px;
}

.add_item a {
    color: #444444;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.add_item a:hover {
    color: #00e9ff;
}

.map_photo:hover {
    box-shadow: 
    0 0 10px rgba(87, 236, 250, 0.11),
    0 0 15px rgba(87, 236, 250, 0.11),
    0 0 25px rgba(87, 236, 250, 0.11),
    0 0 30px rgba(87, 236, 250, 0.11),
    0 0 35px rgba(87, 236, 250, 0.11);
}

/* ==== ==== Gallery part Ends Here  ==== ==== */

/* ==== ==== Footer part Starts Here  ==== ==== */

#footer {
    padding-top: 70px;
    background: #0a2230;
    overflow-x: hidden;
}

.footer_btn {
    padding-bottom: 38px;
}

.footer_btn a {
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    margin: 0 30px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.footer_btn a:hover {
    color: #00e9ff;
    text-shadow:     
    0 0 10px rgba(87, 236, 250, 0.11),    
    0 0 15px rgba(87, 236, 250, 0.11),    
    0 0 20px rgba(87, 236, 250, 0.11),    
    0 0 25px rgba(87, 236, 250, 0.11);
}

.foot_btm_border {
    position: relative;
}

.foot_btm_border::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100vw;
    height: 1px;
    background: #1d3a4d;
    /* background: red; */
}

.foot_text p {
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #306080;
    line-height: 65px;
}

.foot_text a {
    color: #fff;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.foot_text a:hover {
    color: #00e9ff;
    text-shadow: 
    0 0 10px rgba(87, 236, 250, 0.11),
    0 0 15px rgba(87, 236, 250, 0.11),
    0 0 25px rgba(87, 236, 250, 0.11),
    0 0 30px rgba(87, 236, 250, 0.11);
}

/* ==== ==== Footer part Ends Here  ==== ==== */